/* success */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #12102e;
}

.container {
    text-align: center;
    background-color: #253097;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.success-icon {
    margin-bottom: 20px;
    transform: scaleY(-1);
}

h1 {
    color: #26eb20;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    color: #ffffff;
}

button {
    padding: 10px 20px;
    background-color: #26eb20;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/*cancel*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #12102e;
}

.container {
    text-align: center;
    background-color: #253097;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cancel-icon {
    margin-bottom: 20px;
}

h1 {
    color: #fd1909;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    color: #ffffff;
}

button {
    padding: 10px 20px;
    background-color: #fd1909;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d32f2f;
}
