<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECommerce</title>

    <!--========== ESTILOS ============-->
    <link rel="stylesheet" href="../static/css/index.css">

    <!--========== BOX ICONS ============-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>
    <!--========== HEADER ==========-->
    <header>
        <div class="logo"><span>E</span>Commerce</div>
        <nav class="nav-bar">
            <ul>
                <li>
                    <a href="" class="active">Inicio</a>
                </li>
                <li>
                    <a href="../templates/procesadores.html">Procesadores</a>
                </li>
                <li>
                    <a href="">Perifericos</a>
                </li>
                <li>
                    <a href="">Monitores</a>
                </li>
                <li>
                    <a href="">Gabinetes</a>
                </li>
                <li>
                    <a href="">Tecnologia</a>
                </li>
            </ul>
        </nav>
        <div class="header-right">
            <div class="box-icons">
                <i class='bx bx-user-circle' ></i>
                <i class='bx bx-cart-alt'></i>
            </div>
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </header>

    <!--========== IMAGEN ==========-->
    <div class="banner">
        <img src="../static/images/banner.jpg" alt="">
    </div>

    <!--========== TITULO OFERTAS ESPECIALES ==========-->
    <h2 class="section-title">Ofertas Especiales</h2>
    
    <!--========== PRODUCTOS EN OFERTA ==========-->
    <div class="container">

        <!--========== GABINETE GAMER ==========-->
        <div class="card">
            <div class="product-img">
                <img src="../static/images/gabinete.jpg" alt="">
            </div>
            <div class="product-info">
                <h4>Gabinete Gamer</h4>
                <h4>$100</h4>
            </div>
            <div class="btn">
                <button type="button">Comprar Ahora</button>
            </div>
        </div>

        <!--========== TECLADO GAMER ==========-->
        <div class="card">
            <div class="product-img">
                <img src="../static/images/Glorious Gaming GMMK 2.jpg" alt="">
            </div>
            <div class="product-info">
                <h4>Teclado Gamer</h4>
                <h4>$120</h4>
            </div>
            <div class="btn">
                <button type="button">Comprar Ahora</button>
            </div>
        </div>

        <!--========== MOUSE GAMER ==========-->
        <div class="card">
            <div class="product-img">
                <img src="../static/images/mousegamer.jpg" alt="">
            </div>
            <div class="product-info">
                <h4>Mouse Gamer</h4>
                <h4>$50</h4>
            </div>
            <div class="btn">
                <button type="button">Comprar Ahora</button>
            </div>
        </div>

        <!--========== RYZEN 5 ==========-->
        <div class="card">
            <div class="product-img">
                <img src="../static/images/ryzen5600g.png" alt="">
            </div>
            <div class="product-info">
                <h4>Ryzen 5600G</h4>
                <h4>$160</h4>
            </div>
            <div class="btn">
                <button type="button">Comprar Ahora</button>
            </div>
        </div>

    </div>

    <!--========== ESPACIADOR ==========-->
    <div class="spacer"></div>

    <h2 class="section-socialmedia">Redes Sociales</h2>

     <!--========== LINKS JS ==========-->
    <script src="../static/js/main.js"></script>

</body>

</html>