<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PERIFERICOS - ECommerce</title>

    <!--========== ESTILOS ============-->
    <link rel="stylesheet" href="../static/css/perifericos.css">

    <!--========== BOX ICONS ============-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>
    <!--========== HEADER ==========-->
    <header>
        <div class="logo"><span>E</span>Commerce</div>
        <nav class="nav-bar">
            <ul>
                <li>
                    <a href="/index.html" class="active">Inicio</a>
                </li>
                <li>
                    <a href="../templates/procesadores.html">Procesadores</a>
                </li>
                <li>
                    <a href="../templates/perifericos.html">Perifericos</a>
                </li>
                <li>
                    <a href="../templates/monitores.html">Monitores</a>
                </li>
                <li>
                    <a href="../templates/gabinetes.html">Gabinetes</a>
                </li>
                <li>
                    <a href="../templates/tecnologia.html">Tecnologia</a>
                </li>
            </ul>
        </nav>
        <div class="header-right">
            <div class="box-icons">
                <a href="/templates/login-register.html"><i class='bx bx-user-circle'></i></a>
                <i class='bx bx-cart-alt' id="cart-icon"></i>
            </div>
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>

            <!--========== CARRITO ==========-->
            <div class="cart" id="cart">
                <!--========== CONTENIDO DEL CARRITO ==========-->
                <h2 class="cart-title">Tu Carrito</h2>
                <!--========== CONTENIDO ==========-->
                <div class="cart-content">

                </div>
                <!--========== TOTAL ==========-->
                <div class="total">
                    <div class="total-title">Total</div>
                    <div class="total-price">$0</div>
                </div>
                <!--========== BOTON DE COMPRAR ==========-->
                <button type="button" class="btn-buy">Comprar Ahora</button>
                <!--========== BOTON DE CERRAR ==========-->
                <i class="bx bx-x" id="cart-close"></i>
            </div>
        </div>
    </header>

<!--========== ESPACIADOR ==========-->
<div class="spacer"></div>

<!--TITULO DE PRODUCTOS-->
<h2 class="section-title">PERIFERICOS</h2>

<!--========== PRODUCTOS ==========-->
<div class="container">

    <!--========== PRODUCTO ==========-->
    <div class="card">
        <div class="product-img">
            <img src="../static/images/auriculares.png" alt="">
        </div>
        <div class="product-info">
            <h4 class="product-title">Auriculares TWS Bt 5.3</h4>
            <h4 class="product-price">$15</h4>
        </div>
        <div class="btn">
            <button type="button" class="add-cart">Comprar Ahora</button>
        </div>
    </div>

    <!--========== PRODUCTO ==========-->
    <div class="card">
        <div class="product-img">
            <img src="../static/images/Glorious Gaming GMMK 2.jpg" alt="">
        </div>
        <div class="product-info">
            <h4 class="product-title">Glorius Gaming GMMK 2</h4>
            <h4 class="product-price">$90</h4>
        </div>
        <div class="btn">
            <button type="button" class="add-cart">Comprar Ahora</button>
        </div>
    </div>

    <!--========== PRODUCTO ==========-->
    <div class="card">
        <div class="product-img">
            <img src="../static/images/mousegamer.jpg" alt="">
        </div>
        <div class="product-info">
            <h4 class="product-title">TMKB Falcon M1SE</h4>
            <h4 class="product-price">$16</h4>
        </div>
        <div class="btn">
            <button type="button" class="add-cart">Comprar Ahora</button>
        </div>
    </div>

    <!--========== PRODUCTO ==========-->
    <div class="card">
        <div class="product-img">
            <img src="../static/images/812ciMZCfHL._AC_UF894,1000_QL80_.jpg" alt="">
        </div>
        <div class="product-info">
            <h4 class="product-title">GIM Mousepad RGB con carga inalámbrica</h4>
            <h4 class="product-price">$29</h4>
        </div>
        <div class="btn">
            <button type="button" class="add-cart">Comprar Ahora</button>
        </div>
    </div>

</div>

     <!--========== LINKS JS ==========-->
     <script src="../static/js/main.js"></script>
     
</body>
</html>